<div class = "container-fluid">
  <h2>Teacher Registration Form</h2>
  <form [formGroup]="teacherRegistrationForm" (ngSubmit)="onSubmit()">
    {{teacherRegistrationForm.value | json}}
    <div class = "form-group">
      <label>Teacher Id:</label>
      <input formControlName="teacherId" type="number" class="form-control">
    </div>

    <div class = "form-group">
      <label>Name:</label>
      <input [class.is-invalid]="TeacherName.invalid && TeacherName.touched" formControlName="teacherName" type="text" class="form-control">
<!--      <small [class.d-none]="teacherRegistrationForm.get('teacherName').valid || TeacherName.untouched" class="text-danger">Teacher Name is required</small>-->
      <div *ngIf="TeacherName.invalid && TeacherName.touched">
        <small *ngIf="TeacherName.errors?.required" class="text-danger">Teacher Name is required</small>
        <small  *ngIf="TeacherName.errors?.minlength" class="text-danger">Teacher Name must be at least 5 characters</small>
      </div>
    </div>

    <div class = "form-group">
      <label>Address:</label>
      <input formControlName="address" type="text" class="form-control">
    </div>

    <div class = "form-group">
      <label>Email:</label>
      <button type="button" class="btn btm-secondary btn-sm m-2" (click)="addAlternateEmail()">Add e-mail</button>
      <input formControlName="email" type = "email" class = "form-control">
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class = "form-group">
      <label>Phone Number:</label>
      <input formControlName="phoneNumber" type = "tel" class = "form-control">
    </div>

    <button [disabled]='!teacherRegistrationForm.valid' class="btn btn-primary" type="submit">Add Teacher</button>

  </form>
 <br/>
  <button [disabled]='!teacherRegistrationForm.valid' class="btn btn-primary" type="submit">Update Teacher</button>

</div>

<div>
  <tr *ngFor="let teacher of teachers; let i = index">
    <td>{{teacher.teacherId}}</td>
    <td>{{teacher.teacherName}}</td>
    <td>{{teacher.address}}</td>
    <td>{{teacher.email}}</td>
    <td>{{teacher.phoneNumber}}</td>
  </tr>
</div>


